:root{
  --white: white;
  --light-gray: #f0f0f0;
  --dark-gray: #6c6c6c;
  --black: #1e1e1e;
  --yellow: #f99c14;
}

.container{
  text-align: center;
  border: 2px solid black;
}
#calculator{
  margin: auto;
  
  border: 2px solid white;
  width: 400px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 0px;
}

#display{
  background-color: rgb(61, 61, 61);
  grid-column-start: 1;
  grid-column-end: 5;
  display: inline;
  padding: 10px 15px 0px 15px;
  height: 90px;
}
#expression{
  text-align: start;
}
#answer{
  text-align: end;
  font-size: 2em;
}

#calcBtn{
  row-gap: 10px;
  column-gap: 10px;
}

#zero{
  grid-column-start: 1;
  grid-column-end: 3;
  width: 180px;
  border-radius: 80px;
}

.light-gray{
  background-color: var(--light-gray);
  color: var(--black);
}
.dark-gray{
  background-color: var(--dark-gray);
}
.yellow{
  background-color: var(--yellow);
}
